<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 控制台输出配置 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- 定义日志输出格式 -->
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %highlight(%-5level) --- [%blue(%45.50t)]%cyan(%-40.40logger{39}): %msg%n</pattern>
            <!-- 指定字符编码，避免乱码 -->
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 设置根Logger，将所有级别为DEBUG及以上的日志输出到STDOUT -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
